sudo: required
dist: trusty

os: linux

addons:
  apt:
    packages:
    - cpanminus
    - nginx

language: perl
perl:
  - "5.22"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"

env:
  global:
    - JOBS=3

script:
  - perl Makefile.PL
  - make -j$(JOBS)
  - make test
